@font-face {
    font-family: Herculanum;
    src: url('./assets/herculanum.ttf');
}

html {
    background: url('../../assets/avatar10.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    height: 200px;
    margin: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

section {
    border: 5px outset wheat;
    margin: 20px;
    padding: 0 20px;
    font-size: 23px;
    text-align: justify;
}

h2 {
    margin-top: 15px;
    margin-bottom: -10px;
    padding: 0;
    text-align: center;
}

#heather {
    background: rgba(25, 106, 160, 0.75);
}

#tommy {
    background: rgba(44, 95, 197, 0.75);
}

#nairobi {
    background: rgba(79, 159, 22,0.75);
}

#marty {
    background: rgba(237, 40, 18, 0.75);
}

body {
    text-align: center;
    color: wheat;
    font-size: 30px;
    font-family: Herculanum;

}

h1 {
    font-family: Herculanum, sans-serif;
    color: wheat;
    font-size: 75px;
    border: 6px outset wheat;
    background: rgba(55,51,49,0.75);
    text-shadow: 1px 2px 1px #80ac7b;
    padding: 10px;
}

button {
    border: 2px outset wheat;
    font-size: 20px;
    padding: 0.5rem;
    font-family: Herculanum, sans-serif;
    background: rgb(0,0,0,0.5);
    color: wheat;
    transition: background .3s linear;
    transition: color .6s linear;
}

button:hover {
    background: wheat;
    color: #373331;
}
