html {
  background: url('../../assets/Ba-Sing-Se.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background-color: rgba(79, 159, 22, 0.75);
}

a {
  display: block;
  text-decoration: none;
  border: 2px outset wheat;
  font-size: 35px;
  padding: .5rem;
  font-family: Herculanum, sans-serif;
  background: rgba(79, 159, 22, 0.75);
  color: wheat;
  transition: background .3s, color .6s linear;
  margin: 1rem;
}

a:hover {
  background: wheat;
  color: rgba(79, 159, 22);
}

#element-intro {
  background: rgba(79, 159, 22, 0.75);
  margin: 10px;
}

#quest-description {
  background: rgba(79, 159, 22, 0.75);
  margin: 10px;
}

label {
  background: rgba(79, 159, 22, 0.75);
}